body {
  width: auto;
  height: 100vw;
  background: linear-gradient(to bottom right, rgb(105, 199, 236), rgb(245, 179, 245));

}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-top: 100px;
  padding-bottom: 100px;

}
.search-form {
  display: flex;
  justify-content: center;
  padding: 8px;
  margin-bottom: 24px;
}
input {
width: 200px;
height: 30px;
margin-right: 50px;
border-radius: 4px;
border: transparent;

}
button{
  width: auto;
  height: 30px;
  border-radius: 4px;
  background-color: rgb(245, 179, 245);
  cursor: pointer;
  border: transparent;

}
button.btn.btn-primary.button{
  width: 150px;
  height: 30px;
  border-radius: 4px;
  background-color: rgb(245, 179, 245);
   display: block;
   align-items: center;
   cursor: pointer;
   border: transparent;
}
.button.is-hidden {
  display: none;
}

.button>.spinner.is-hidden {
  display: none;
}